* {
    box-sizing: border-box;
  }

  body {
    font-family: "Arial";
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.618em;
  }

  .wrapper {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
  }

  .tabs {
    position: relative;
    margin: 0 0;
    background: var(--background-color);
    height: 100%;
  }

  .tabs::before,
  .tabs::after {
    content: "";
    display: table;
  }

  .tabs::after {
    clear: both;
  }

  .tab {
    float: left;
  }

  .tab-switch {
    display: none;
  }

  .tab-label {
    position: relative;
    display: block;
    line-height: 2.75em;
    height: 3em;
    padding: 0 1.618em;
    background: var(--background-color);
    border: 0.125rem solid #fff;
    border-radius: 5px;
    color: var(--text-color);
    cursor: pointer;
    top: 0;
    transition: all 0.25s;
  }

  .tab-label:hover {
    top: -0.25rem;
    transition: top 0.25s;
  }

  .tab-content {
    position: absolute;
    z-index: 1;
    /*top: 2.75em;*/
    left: 0;
    padding: 1.618rem;
    background: var(--background-color);
    color: var(--text-color);
    border-bottom: 0.25rem solid #bdc3c7;
    opacity: 0;
    transition: all 0.35s;
  }
  .tab-switch:checked + .tab-label {
    background: var(--background-color);
    color: var(--text-color);
    /*border-bottom: 0;*/
    border-bottom: 0.125rem solid #fff;
    transition: all 0.35s;
    z-index: 1;
    /*top: -0.0625rem;*/
  }
  .tab-switch:checked + label + .tab-content {
    z-index: 2;
    opacity: 1;
    transition: all 0.35s;
  }


  

h1{
    color: var(--text-header-color);
}

ul{
    margin:0;
}

a {
    color: var(--link-notvisited-color);
}

a:visited {
    color: var(--link-visited-color);
}

a:hover {
    color: var(--link-hover-color);
}

img {
  max-width: 100%; /* don't let the image be wider than the parent */
  width: 600px; /* might be small, change if you need or add 'style="width: 800px"' to the image */
}